{% extends "ogatech_app/base.html" %} 
{% block body_block %}

<section
  class="stela-header-panel"
  style="
    background: linear-gradient(89deg, #000000 7%, rgba(0, 0, 0, 0) 83%),
      url('/static/images/home.png') center / cover no-repeat;
  "
  data-v-77b3511a
  data-v-facffa24
>
  <div class="container" data-v-77b3511a>
    <div class="scale-on-xxxl origin-top-left" data-v-77b3511a>
      <!-- <div
            class="stela-expect-shipment-panel"
            data-v-81121822
            data-v-77b3511a
          >
            <h3 class="stela-expect-shipment-panel__text" data-v-81121822>
              Track your shipment
            </h3>
            <form autocomplete="chrome-off" class="w-full" data-v-81121822>
              <label
                for="track"
                class="stela-expect-shipment-panel__input-wrapper"
                data-v-81121822
                ><input
                  id="track"
                  name="s"
                  placeholder="Enter tracking number"
                  class="stela-expect-shipment-panel__input"
                  data-v-81121822 />
                <button
                  type="submit"
                  class="stela-expect-shipment-panel__input_action-btn"
                  data-v-81121822
                >
                  <img
                    src="https://d2ea1wukp3s3qg.cloudfront.net/production/static/svg/header-icon-right.svg"
                    alt="search shipment action icon"
                    data-v-81121822
                  /></button
              ></label>
            </form>
          </div> -->
      <h1 class="banner-headline" data-v-77b3511a data-v-facffa24>
        Affordable shipping from UAE to Nigeria.
      </h1>
      <p class="banner-desc" data-v-77b3511a data-v-facffa24>
        The Ultimate International Shoppers' Concierge Solution Delivering
        Gadgets, Luxury Goods & More Anywhere In The World
      </p>
      <div class="banner-buttons" data-v-77b3511a>
        <span
          ><a href="#" target="_blank" class="btn btn-primary w-44">
            Contact us
          </a></span
        >
      </div>
    </div>
  </div>
</section>

<section class="container flex flex-col">
  <div class="panel-content">
    <div data-v-0faccfec="" class="step__group-wrapper">
      <!-- <div class="row"> -->
      <div class="column">
        <div class="card">
          <details data-v-0faccfec="" open="open" class="step__group">
            <summary data-v-0faccfec="" class="step__group-header">
              <span data-v-0faccfec="" class="step__group-header__title"
                ><img
                  data-v-0faccfec=""
                  src="https://d2ea1wukp3s3qg.cloudfront.net/production/static/svg/use-heroshe-address.svg"
                  alt="..."
                  class="step__group-icon"
                />
                <span data-v-0faccfec="">Use Ogetech address</span></span
              >
              <img
                data-v-0faccfec=""
                src="https://d2ea1wukp3s3qg.cloudfront.net/production/static/svg/icon-dropup.svg"
                alt="toggle shipping info"
                class="step__group-dropup-icon"
              />
            </summary>
            <p data-v-0faccfec="" class="step__group-item">
              Get your valid US address when you sign up with Heroshe. Use it as
              your delivery address at checkout or have your packages sent there
              by loved ones
            </p>
          </details>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <details data-v-0faccfec="" open="open" class="step__group">
            <summary data-v-0faccfec="" class="step__group-header">
              <span data-v-0faccfec="" class="step__group-header__title"
                ><img
                  data-v-0faccfec=""
                  src="https://d2ea1wukp3s3qg.cloudfront.net/production/static/svg/track-your-shipment.svg"
                  alt="..."
                  class="step__group-icon"
                />
                <span data-v-0faccfec="">Track your shipments</span></span
              >
              <img
                data-v-0faccfec=""
                src="https://d2ea1wukp3s3qg.cloudfront.net/production/static/svg/icon-dropup.svg"
                alt="toggle shipping info"
                class="step__group-dropup-icon"
              />
            </summary>
            <p data-v-0faccfec="" class="step__group-item">
              Track your shipment from the US till it arrives in Nigeria on your
              mobile phone or the web
            </p>
          </details>
        </div>
      </div>
      <div class="column">
        <div class="card">..</div>
      </div>
      <div class="column">
        <div class="card">
          <details data-v-0faccfec="" open="open" class="step__group">
            <summary data-v-0faccfec="" class="step__group-header">
              <span data-v-0faccfec="" class="step__group-header__title"
                ><img
                  data-v-0faccfec=""
                  src="https://d2ea1wukp3s3qg.cloudfront.net/production/static/svg/deliver-anywhere.svg"
                  alt="..."
                  class="step__group-icon"
                />
                <span data-v-0faccfec=""
                  >Deliver anywhere you choose</span
                ></span
              >
              <img
                data-v-0faccfec=""
                src="https://d2ea1wukp3s3qg.cloudfront.net/production/static/svg/icon-dropup.svg"
                alt="toggle shipping info"
                class="step__group-dropup-icon"
              />
            </summary>
            <p data-v-0faccfec="" class="step__group-item">
              Pay to have your shipments delivered anywhere in Nigeria or pick
              them up for free in our Lagos office
            </p>
          </details>
        </div>
      </div>
      <!-- </div> -->
    </div>
  </div>
</section>

<div class="container-fluid">
  <section
    class="stela-shipping-price-info-panel"
    data-v-2c3213f0
    data-v-facffa24
  >
    <div class="main container" data-v-2c3213f0>
      <!-- <div class="w-full" data-v-2c3213f0>
            <div
              class="banner-description scale-on-xxxl origin-top-left"
              data-v-2c3213f0
            >
              <h3 class="banner-title" data-v-2c3213f0>
                Shipping price calculator
              </h3>
              <h1 class="banner-headline whitespace-pre-line" data-v-2c3213f0>
                Predictable pricing, no surprises.
              </h1>
              <div class=" lg:block" data-v-2c3213f0>
                <p
                  class="banner-info whitespace-pre-line max-w-sm"
                  data-v-2c3213f0
                >
                  There are no hidden prices on Heroshe, enter the weight of
                  your shipment to get an estimated shipping cost
                </p>
                <p class="banner-more-info" data-v-2c3213f0>
                  Need more information?
                  <a href="/pricing" class="link" data-v-2c3213f0>
                    Go to pricing
                  </a>
                </p>
              </div>
            </div>
          </div> -->
      <div
        class="stela-price-calculator-panel__card"
        data-v-a26cec2e
        data-v-2c3213f0
      >
        <h1 class="text-center">$ 5</h1>
        <h3 class="text-center">to ship 1lbs/0.45kg</h3>

        <div class="delivery-options" data-v-a26cec2e>
          <h3 class="delivery-options__title" data-v-a26cec2e>
            Shipping fee covers:
          </h3>
          <ul>
            <li>
              Storage & Shipping: Customs duties, taxes, VAT, and clearing fees.
            </li>
            <li>
              Free Cargo Insurance against loss, theft, and damage if reported
              within 72hrs after a package is delivered.
            </li>
            <li>Free pickup (available in Lagos only).</li>
          </ul>
          
          </p>
        </div>
      </div>
      <div
        class="stela-price-calculator-panel__card"
        data-v-a26cec2e
        data-v-2c3213f0
      >
        <input
          type="number"
          id="weight"
          min="1"
          placeholder="Weight of your Shipment in pounds"
          value=""
          class="price-input"
          data-v-a26cec2e
        />
        <p class="price-of-shipping" data-v-a26cec2e>
          <span data-v-a26cec2e> Price of shipping 1 lbs </span>
          <span data-v-a26cec2e> $5 </span>
        </p>
        <div class="delivery-options" data-v-a26cec2e>
          <h3 class="delivery-options__title" data-v-a26cec2e>
            Delivery Options
          </h3>
          <p class="delivery-options__item" data-v-a26cec2e>
            <label class="delivery-options__item-label" data-v-a26cec2e
              ><input
                type="radio"
                name="delivery-option"
                id="home_delivery"
                value="HOME"
                class="delivery-options__item-input"
                data-v-a26cec2e
              />
              <span
                class="delivery-options__item-indicator"
                data-v-a26cec2e
              ></span>
              <span class="delivery-options__item-text" data-v-a26cec2e>
                Home delivery
              </span></label
            >
            <span class="delivery-options__item-value" data-v-a26cec2e>
              $10
            </span>
          </p>
          <p class="delivery-options__item" data-v-a26cec2e>
            <label class="delivery-options__item-label" data-v-a26cec2e
              ><input
                type="radio"
                name="delivery-option"
                value="PICKUP"
                checked="checked"
                class="delivery-options__item-input"
                data-v-a26cec2e
              />
              <span
                class="delivery-options__item-indicator"
                data-v-a26cec2e
              ></span>
              <span class="delivery-options__item-text" data-v-a26cec2e>
                Lagos Pickup
              </span></label
            >
            <span class="delivery-options__item-value" data-v-a26cec2e>
              $0
            </span>
          </p>
        </div>
        <div class="price-conversion-total" data-v-a26cec2e>
          <h3 class="price-conversion-total__text" data-v-a26cec2e>
            Total to pay
          </h3>
          <div class="price-conversion-total__result-display" data-v-a26cec2e >
            <span id="total_value">$0</span>
            
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

{% endblock %}
