{% extends "ogatech_app/base.html" %}
{% load static %}


{% block body_block %}

<section class="stela-feature-list-panel" data-v-2288bede data-v-bce89b90>
    <div class="container" data-v-2288bede>
        <h3 class="panel-title" data-v-2288bede>Our Pricing Explained</h3>
        <div class="panel-content" data-v-2288bede>
            <div class="feature-item" data-v-2288bede><img
                    src="https://d2ea1wukp3s3qg.cloudfront.net/production/static/svg/pricing/order.svg" alt="..."
                    class="feature-item__img" data-v-2288bede> <span class="feature-item__text" data-v-2288bede>Free and
                    secure handling and sorting of shipments at our warehouses</span></div>
            <div class="feature-item" data-v-2288bede><img
                    src="https://d2ea1wukp3s3qg.cloudfront.net/production/static/svg/pricing/boxes.svg" alt="..."
                    class="feature-item__img" data-v-2288bede> <span class="feature-item__text" data-v-2288bede>30 days
                    pre-shipping storage in the US</span></div>
            <div class="feature-item" data-v-2288bede><img
                    src="https://d2ea1wukp3s3qg.cloudfront.net/production/static/svg/pricing/cargo.svg" alt="..."
                    class="feature-item__img" data-v-2288bede> <span class="feature-item__text" data-v-2288bede>Weekly
                    dispatch of shipments to Nigeria</span></div>
            <div class="feature-item" data-v-2288bede><img
                    src="https://d2ea1wukp3s3qg.cloudfront.net/production/static/svg/pricing/protect.svg" alt="..."
                    class="feature-item__img" data-v-2288bede> <span class="feature-item__text"
                    data-v-2288bede>Clearing, taxes and insurance Included in shipping cost</span></div>
            <div class="feature-item" data-v-2288bede><img
                    src="https://d2ea1wukp3s3qg.cloudfront.net/production/static/svg/pricing/truck.svg" alt="..."
                    class="feature-item__img" data-v-2288bede> <span class="feature-item__text" data-v-2288bede>$10 flat
                    rate Home Delivery (Optional)</span></div>
            <div class="feature-item" data-v-2288bede><img
                    src="https://d2ea1wukp3s3qg.cloudfront.net/production/static/svg/pricing/delivery.svg" alt="..."
                    class="feature-item__img" data-v-2288bede> <span class="feature-item__text" data-v-2288bede>14 days
                    Post-shipping storage &amp; Pickup</span></div>
        </div>
    </div>
</section>
<section class="stela-other-pricing-info-panel" data-v-5a3705e2 data-v-bce89b90>
    <div class="container" data-v-5a3705e2>
        <div class="main" data-v-5a3705e2>
            <div class="stela-other-pricing-info-panel__item" data-v-5a3705e2><img
                    src="https://d2ea1wukp3s3qg.cloudfront.net/production/static/svg/processing-shipment.svg" alt="..."
                    data-v-5a3705e2>
                <h4 data-v-5a3705e2>Processing shipments</h4>
                <p data-v-5a3705e2>Get more information for how we handle your shipments at the warehouse</p> <a
                    href="/help-center/shipping-guideline" class="link" data-v-5a3705e2>
                    Learn more
                </a>
            </div>
            <div class="stela-other-pricing-info-panel__item" data-v-5a3705e2><img
                    src="https://d2ea1wukp3s3qg.cloudfront.net/production/static/svg/crating-fragile-item.svg" alt="..."
                    data-v-5a3705e2>
                <h4 data-v-5a3705e2>Crating and fragile items</h4>
                <p data-v-5a3705e2>You can choose to add extra protection to your fragile items</p> <a
                    href="/help-center/shipping-guideline#crating-and-fragile" class="link" data-v-5a3705e2>
                    Learn more
                </a>
            </div>
            <div class="stela-other-pricing-info-panel__item" data-v-5a3705e2><img
                    src="https://d2ea1wukp3s3qg.cloudfront.net/production/static/svg/danger.svg" alt="..."
                    data-v-5a3705e2>
                <h4 data-v-5a3705e2>Items we do not ship</h4>
                <p data-v-5a3705e2>Due to regulations we don’t ship some items at the moment</p> <a
                    href="/help-center/shipping-guideline#items-we-do-not-ship" class="link" data-v-5a3705e2>
                    Learn more
                </a>
            </div>
        </div>
    </div>
</section>
<section class="stela-faq-panel" data-v-7beae568 data-v-bce89b90>
    <div class="container" data-v-7beae568>
        <h3 class="stela-faq-panel__title" data-v-7beae568>Frequently Asked Pricing Questions</h3>
        <section class="stela-faq" data-v-64c644f3 data-v-7beae568>
            <div class="stela-faq__content accordion" data-v-64c644f3>
                <div class="accordion__item" data-v-64c644f3>
                    <h6 class="accordion__question accordion__question--active" data-v-64c644f3><span
                            class="accordion__question-text" data-v-64c644f3><span data-v-64c644f3>How much does it cost
                                to ship a package to Nigeria? </span></span> <img
                            src="https://d2ea1wukp3s3qg.cloudfront.net/production/static/svg/icon-dropup.svg"
                            alt="close faq question dropdown icon"
                            class="accordion__toggle-button accordion__toggle-button--active" data-v-64c644f3></h6>
                    <div class="accordion__answer" data-v-64c644f3 data-v-405f4f8a data-v-64c644f3>
                        <div class="accordion__answer-text" data-v-64c644f3>
                            <p>We charge as low as $5 per pound for all shipments. Our minimum weight is 1 pound.
                                Fragile items like TV and glass furniture have an optional crating fee. Please see the
                                full<a href="https://next.heroshe.com/pricing"> pricing page </a>for all the rate
                                details.<br>&nbsp;</p>
                        </div>
                    </div>
                </div>
                <div class="accordion__item" data-v-64c644f3>
                    <h6 class="accordion__question" data-v-64c644f3><span class="accordion__question-text"
                            data-v-64c644f3><span data-v-64c644f3>Are there additional or hidden charges? </span></span>
                        <img src="https://d2ea1wukp3s3qg.cloudfront.net/production/static/svg/icon-dropdown.svg"
                            alt="open faq question dropdown icon" class="accordion__toggle-button" data-v-64c644f3></h6>
                </div>
                <div class="accordion__item" data-v-64c644f3>
                    <h6 class="accordion__question" data-v-64c644f3><span class="accordion__question-text"
                            data-v-64c644f3><span data-v-64c644f3>Do I have to pay for delivery in
                                Nigeria?</span></span> <img
                            src="https://d2ea1wukp3s3qg.cloudfront.net/production/static/svg/icon-dropdown.svg"
                            alt="open faq question dropdown icon" class="accordion__toggle-button" data-v-64c644f3></h6>
                </div>
                <div class="accordion__item" data-v-64c644f3>
                    <h6 class="accordion__question" data-v-64c644f3><span class="accordion__question-text"
                            data-v-64c644f3><span data-v-64c644f3>Does Heroshe offer shipping insurance against loss,
                                theft, or damage?</span></span> <img
                            src="https://d2ea1wukp3s3qg.cloudfront.net/production/static/svg/icon-dropdown.svg"
                            alt="open faq question dropdown icon" class="accordion__toggle-button" data-v-64c644f3></h6>
                </div>
                <div class="accordion__item" data-v-64c644f3>
                    <h6 class="accordion__question" data-v-64c644f3><span class="accordion__question-text"
                            data-v-64c644f3><span data-v-64c644f3>How do I fund and pay from my wallet?</span></span>
                        <img src="https://d2ea1wukp3s3qg.cloudfront.net/production/static/svg/icon-dropdown.svg"
                            alt="open faq question dropdown icon" class="accordion__toggle-button" data-v-64c644f3></h6>
                </div>
                <div class="accordion__item" data-v-64c644f3>
                    <h6 class="accordion__question" data-v-64c644f3><span class="accordion__question-text"
                            data-v-64c644f3><span data-v-64c644f3>How do I use SplitPay?</span></span> <img
                            src="https://d2ea1wukp3s3qg.cloudfront.net/production/static/svg/icon-dropdown.svg"
                            alt="open faq question dropdown icon" class="accordion__toggle-button" data-v-64c644f3></h6>
                </div>
            </div>
        </section>
    </div>
</section>
<section class="stela-contact-info-panel" data-v-a4087b28 data-v-bce89b90>
    <div class="container" data-v-a4087b28>
        <div class="main" data-v-a4087b28>
            <h3 class="stela-contact-info-panel__title" data-v-a4087b28>
                Still got questions?
            </h3>
            <p class="stela-contact-info-panel__sub-title leading-5" data-v-a4087b28>
                We are here to help. Our team is happy to answer your questions.
            </p>
            <div class="stela-contact-info-panel__actions-wrapper" data-v-a4087b28>
                <div class="stela-contact-info-panel__action chat-with-us" data-v-a4087b28><img
                        src="https://d2ea1wukp3s3qg.cloudfront.net/production/static/svg/chat-icon.svg"
                        alt="chat with us" data-v-a4087b28> <button type="button" class="need-help-button"
                        data-v-a4087b28><span class="for-mobile" data-v-a4087b28>Chat</span> <span class="for-desktop"
                            data-v-a4087b28>Chat with us</span></button></div>
                <div class="stela-contact-info-panel__action email-us" data-v-a4087b28><img
                        src="https://d2ea1wukp3s3qg.cloudfront.net/production/static/svg/email-icon.svg" alt="email us"
                        data-v-a4087b28> <a
                        href="/cdn-cgi/l/email-protection#34474144445b4640745c51465b475c511a575b590b4741565e515740097d1f5a5151501f5c515844"
                        target="_blank" rel="noreferrer noopener" class="need-help-button" data-v-a4087b28><span
                            class="for-mobile" data-v-a4087b28>Email</span> <span class="for-desktop"
                            data-v-a4087b28>Email us</span></a></div>
                <div class="stela-contact-info-panel__action call-us" data-v-a4087b28><img
                        src="https://d2ea1wukp3s3qg.cloudfront.net/production/static/svg/call-icon.svg" alt="call us"
                        data-v-a4087b28> <a href="tel:+234 817 759 3004" target="_blank" rel="noreferrer noopener"
                        class="need-help-button" data-v-a4087b28><span class="for-mobile" data-v-a4087b28>Call</span>
                        <span class="for-desktop" data-v-a4087b28>Call us</span></a></div>
            </div>
        </div>
    </div>
</section>
</div>
</main>
</div>
<!-- <footer class="stela-footer" data-v-4329f34b>
    <div class="main" data-v-4329f34b>
        <div class="container" data-v-4329f34b>
            <div class="info-quick-links" data-v-4329f34b>
                <div class="info" data-v-4329f34b><a href="/" class="nuxt-link-active" data-v-4329f34b><img
                            src="https://d2ea1wukp3s3qg.cloudfront.net/production/static/svg/logomark-primary.svg"
                            alt="Heroshe Logo" class="info__logo" data-v-4329f34b></a>
                    <div class="scale-on-xxxl origin-top-left" data-v-4329f34b>
                        <p class="info__detail max-w-xs" data-v-4329f34b>
                            Experience timely, affordable and hassle free shipping from the US
                        </p>
                    </div>
                </div>
                <div class="quick-links for-mobile" data-v-4329f34b>
                    <div class="quick-link solutions" data-v-4329f34b>
                        <p class="quick-link__group-header" data-v-4329f34b><span data-v-4329f34b>Solutions</span> <img
                                src="https://d2ea1wukp3s3qg.cloudfront.net/production/static/svg/icon-dropdown.svg"
                                alt="open solutions menu dropdown icon" data-v-4329f34b></p>
                    </div>
                    <div class="quick-link solutions" data-v-4329f34b>
                        <p class="quick-link__group-header" data-v-4329f34b><span data-v-4329f34b>Resources</span> <img
                                src="https://d2ea1wukp3s3qg.cloudfront.net/production/static/svg/icon-dropdown.svg"
                                alt="open solutions menu dropdown icon" data-v-4329f34b></p>
                    </div>
                    <div class="quick-link solutions" data-v-4329f34b>
                        <p class="quick-link__group-header" data-v-4329f34b><span data-v-4329f34b>Company</span> <img
                                src="https://d2ea1wukp3s3qg.cloudfront.net/production/static/svg/icon-dropdown.svg"
                                alt="open solutions menu dropdown icon" data-v-4329f34b></p>
                    </div>
                </div>
                <div class="quick-links for-desktop" data-v-4329f34b>
                    <div class="quick-link solutions" data-v-4329f34b>
                        <p class="quick-link__group-header" data-v-4329f34b><span data-v-4329f34b>Solutions</span></p>
                        <ul class="quick-link__group-links" data-v-4329f34b>
                            <li class="quick-link__group-link" data-v-4329f34b><a href="/solutions/personal-shipping"
                                    data-v-4329f34b>
                                    Personal
                                </a></li>
                            <li class="quick-link__group-link" data-v-4329f34b><a href="/solutions/business"
                                    data-v-4329f34b>
                                    Business
                                </a></li>
                            <li class="quick-link__group-link" data-v-4329f34b><a href="/solutions/drop-shipping"
                                    data-v-4329f34b>
                                    Drop Shipping
                                </a></li>
                            <li class="quick-link__group-link" data-v-4329f34b><a href="/solutions/education"
                                    data-v-4329f34b>
                                    Education
                                </a></li>
                        </ul>
                    </div>
                    <div class="quick-link solutions" data-v-4329f34b>
                        <p class="quick-link__group-header" data-v-4329f34b><span data-v-4329f34b>Resources</span></p>
                        <ul class="quick-link__group-links" data-v-4329f34b>
                            <li class="quick-link__group-link" data-v-4329f34b><a href="/help-center" data-v-4329f34b>
                                    Help Center
                                </a></li>
                            <li class="quick-link__group-link" data-v-4329f34b><a href="https://blog.heroshe.com"
                                    target="_blank" data-v-4329f34b>
                                    Blog
                                </a></li>
                            <li class="quick-link__group-link" data-v-4329f34b><a href="/pricing" aria-current="page"
                                    class="active nuxt-link-active" data-v-4329f34b>
                                    Pricing
                                </a></li>
                        </ul>
                    </div>
                    <div class="quick-link solutions" data-v-4329f34b>
                        <p class="quick-link__group-header" data-v-4329f34b><span data-v-4329f34b>Company</span></p>
                        <ul class="quick-link__group-links" data-v-4329f34b>
                            <li class="quick-link__group-link" data-v-4329f34b><a href="/about" data-v-4329f34b>
                                    About Us
                                </a></li>
                            <li class="quick-link__group-link" data-v-4329f34b><a href="/contact" data-v-4329f34b>
                                    Contact Us
                                </a></li>
                            <li class="quick-link__group-link" data-v-4329f34b><a
                                    href="https://heroshe-public-assets.s3.eu-west-2.amazonaws.com/media-kit.zip"
                                    target="_blank" data-v-4329f34b>
                                    Press Kit
                                </a></li>
                            <li class="quick-link__group-link" data-v-4329f34b><a href="/legal" data-v-4329f34b>
                                    Legal
                                </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="socials-with-currency-chooser for-mobile" data-v-4329f34b>
                <p class="choose-currency" data-v-4329f34b><label for="mobile-currency" class="block"
                        data-v-4329f34b>Choose a currency:</label> <span class="select-wrapper" data-v-4329f34b><select
                            id="mobile-currency" name="mobile-currency" data-v-4329f34b>
                            <option value="USD" data-v-4329f34b>USD</option>
                            <option value="NGN" data-v-4329f34b>NGN</option>
                        </select> <img
                            src="https://d2ea1wukp3s3qg.cloudfront.net/production/static/svg/ic-arrow-drop-down.svg"
                            alt="..." data-v-4329f34b></span></p>
                <ul class="social-links" data-v-4329f34b>
                    <li data-v-4329f34b><a href="https://linkedin.com/company/heroshe" data-v-4329f34b><img
                                src="https://d2ea1wukp3s3qg.cloudfront.net/production/static/svg/socials/linkedin.svg"
                                data-v-4329f34b></a></li>
                    <li data-v-4329f34b><a href="https://facebook.com/shopheroshe" data-v-4329f34b><img
                                src="https://d2ea1wukp3s3qg.cloudfront.net/production/static/svg/socials/facebook.svg"
                                data-v-4329f34b></a></li>
                    <li data-v-4329f34b><a href="https://twitter.com/shipheroshe" data-v-4329f34b><img
                                src="https://d2ea1wukp3s3qg.cloudfront.net/production/static/svg/socials/twitter.svg"
                                data-v-4329f34b></a></li>
                    <li data-v-4329f34b><a href="https://youtube.com/user/HerosheTV" data-v-4329f34b><img
                                src="https://d2ea1wukp3s3qg.cloudfront.net/production/static/svg/socials/youtube.svg"
                                data-v-4329f34b></a></li>
                    <li data-v-4329f34b><a href="https://instagram.com/shipheroshe" data-v-4329f34b><img
                                src="https://d2ea1wukp3s3qg.cloudfront.net/production/static/svg/socials/instagram.svg"
                                data-v-4329f34b></a></li>
                </ul>
                <p class="service-terms-and-policy" data-v-4329f34b><span data-v-4329f34b><a href="/legal/terms"
                            class="hover:opacity-75" data-v-4329f34b>
                            Terms of Service
                        </a></span><span data-v-4329f34b><a href="/legal/privacy-policy" class="hover:opacity-75"
                            data-v-4329f34b>
                            Privacy Policy
                        </a></span></p>
            </div>
            <div class="socials-with-currency-chooser for-desktop" data-v-4329f34b>
                <ul class="social-links" data-v-4329f34b>
                    <li data-v-4329f34b><a href="https://linkedin.com/company/heroshe" data-v-4329f34b><img
                                src="https://d2ea1wukp3s3qg.cloudfront.net/production/static/svg/socials/linkedin.svg"
                                data-v-4329f34b></a></li>
                    <li data-v-4329f34b><a href="https://facebook.com/shopheroshe" data-v-4329f34b><img
                                src="https://d2ea1wukp3s3qg.cloudfront.net/production/static/svg/socials/facebook.svg"
                                data-v-4329f34b></a></li>
                    <li data-v-4329f34b><a href="https://twitter.com/shipheroshe" data-v-4329f34b><img
                                src="https://d2ea1wukp3s3qg.cloudfront.net/production/static/svg/socials/twitter.svg"
                                data-v-4329f34b></a></li>
                    <li data-v-4329f34b><a href="https://youtube.com/user/HerosheTV" data-v-4329f34b><img
                                src="https://d2ea1wukp3s3qg.cloudfront.net/production/static/svg/socials/youtube.svg"
                                data-v-4329f34b></a></li>
                    <li data-v-4329f34b><a href="https://instagram.com/shipheroshe" data-v-4329f34b><img
                                src="https://d2ea1wukp3s3qg.cloudfront.net/production/static/svg/socials/instagram.svg"
                                data-v-4329f34b></a></li>
                </ul>
                <p class="choose-currency" data-v-4329f34b><label for="currency" data-v-4329f34b>Choose a
                        currency:</label> <span class="select-wrapper" data-v-4329f34b><select id="currency"
                            name="currency" data-v-4329f34b>
                            <option value="USD" data-v-4329f34b>USD</option>
                            <option value="NGN" data-v-4329f34b>NGN</option>
                        </select> <img
                            src="https://d2ea1wukp3s3qg.cloudfront.net/production/static/svg/ic-arrow-drop-down.svg"
                            alt="..." data-v-4329f34b></span></p>
            </div>
        </div>
    </div>
    <div class="copyright-wrapper" data-v-4329f34b>
        <div class="container" data-v-4329f34b>
            <div class="w-full flex justify-between items-center lg:justify-between lg:py-4" data-v-4329f34b>
                <p class="copyright flex-grow text-center lg:text-left" data-v-4329f34b>© 2021 Heroshe ‐ All rights
                    reserved</p>
                <p class="privacy-terms-links hidden lg:flex gap-6" data-v-4329f34b><span data-v-4329f34b><a
                            href="/legal/terms" class="hover:opacity-75" data-v-4329f34b>
                            Terms of Service
                        </a></span><span data-v-4329f34b><a href="/legal/privacy-policy" class="hover:opacity-75"
                            data-v-4329f34b>
                            Privacy Policy
                        </a></span></p>
            </div>
        </div>
    </div>
</footer>
</div> -->
<div style="height:0;" data-v-722ed754></div>
</div>
</div>
</div>



{% endblock %}